.hero {
  display: flex;
  width: 100%;
  margin-bottom: 63px;
  background-image: url("../../Images/netflix.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 109px;
  padding-left: 77px;
  padding-bottom: 159px;
  margin-right: auto;
  justify-content: flex-start;
  height: 100vh;
}

.hero-heading-container {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  font-family: "DM Sans", sans-serif;
  margin-top: 95px;
  line-height: 75px;
}

.header1 {
  color: var(--buttonColor);
}
